<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro robot_model:=ur5e joint_limit_params:=/home/ros/ws_moveit/src/universal_robot/ur_description/config/ur5e/joint_limits.yaml kinematics_params:=/home/ros/ws_moveit/src/universal_robot/ur_description/config/ur5e/default_kinematics.yaml physical_params:=/home/ros/ws_moveit/src/universal_robot/ur_description/config/ur5e/physical_parameters.yaml visual_params:=/home/ros/ws_moveit/src/universal_robot/ur_description/config/ur5e/visual_parameters.yaml '$(find regolobot_ur5e_description)/urdf/ur.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find regolobot_moveit_config)/config/ur5e_robot.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find regolobot_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find regolobot_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find regolobot_moveit_config)/config/kinematics.yaml"/>
    <rosparam command="load" ns="manipulator" file="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
  </group>

</launch>
